.grid {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(2, minmax(25%, auto));
  background-color: #ffffff80;
}

.featured {
  width: 25%;
}
.content {
  width: 100%;
  margin-top: 100px;
  margin-left: 10px;
  padding: 10px;
}
.button {
  margin-top: 5px;
  width: fit-content;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: var(--btnColor);
  font-size: 1rem;
  cursor: pointer;
  justify-content: right;
  align-items: flex-end;
  background-color: var(--NavContact);
}
.button:hover {
  align-items: flex-end;
  background-color: var(--mainGreen);
  transform: 0.75s;
}

.button[disabled] {
  background-color: var(--paraStyle1);
  color: var(--btnDisabledColor);
}

.imageContainer {
  margin: 100px 15px;
  width: 30%;
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

@media (max-width: 700px) {
  .featured {
    display: none;
  }
  .imageContainer {
    justify-content: center;
    width: 100%;
  }
  .content {
    width: 100%;
    margin-top: -65px;
  }
  .grid {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(1, auto);
  }
}
